<h1>Welcome to the Dashboard</h1>
<h2>All Posts</h2>
{{#each posts}}
    <article>
        <h3>{{this.title}}</h3>
        <p>{{this.content}}</p>
        <p>Posted by {{this.User.username}} </p>
        <h4>Comments:</h4>
        <ul>
            {{#each this.UserComments}}
                <li>{{this.content}} - by {{this.User.username}} </li>
            {{/each}}
        </ul>
    </article>
{{/each}}

<!-- next we need to create the api to handle this page -->