{{#if loggedIn}}
    <h2>Welcome to Your Dashboard, {{username}}!</h2>
{{else}}
    <p>Please log in to access your dashboard.</p>
{{/if}}

<section>
    <h3>Your Posts</h3>
    {{#each posts}}
        <article>
            <h4>{{this.title}}</h4>
            <p>{{this.content}}</p>
            <p>Posted on {{formatDate this.createdAt}}</p>
            <h5>Comments:</h5>
            <ul>
                {{#each this.comments}}
                    <li>{{this.content}} - by {{this.author}} on {{formatDate this.createdAt}}</li>
                {{/each}}
            </ul>
        </article>
    {{/each}}
</section>

<section>
    <h3>Create New Post</h3>
    <form action="/api/posts" method="POST">
        <label for="postTitle">Title:</label><br>
        <input type="text" id="postTitle" name="title"><br>
        <label for="postContent">Content:</label><br>
        <textarea id="postContent" name="content"></textarea><br>
        <button type="submit">Create Post</button>
    </form>
</section>

<!-- next we need to create the api to handle this page -->